@model PersonalBlogging.Models.Article

@{
    ViewData["Title"] = "Details";
    var articleTitle = string.IsNullOrEmpty(Model.Title) ? "Article" : $"Article - {Model.Title}";
}


<div class="row">
    <div class="col" style="max-width: 60%; margin: auto;">
        <h1>Details</h1>
        <h4>@(articleTitle)</h4>
        <hr />
        <div class="article-details-container">
            <div class="article-dates">
                <p class="m-0">Published on @Model.PublishedDate</p>
                <p class="m-0">|</p>
                <p class="m-0">Last Updated on @Model.LastModifiedDate</p>
            </div>
            <h6 class="m-0">Written by @Model.AuthorName</h6>
            <hr class="ml-0 mr-0 mt-3 mb-4"/>
            <p>@Model.Content</p>
            <hr class="ml-0 mr-0 mt-4 mb-4"/>
            <div class="article-tags">
                <div class="title">
                    <i class="bi bi-tag"></i>
                    <h6>@Html.DisplayNameFor(model => model.Tags)</h6>
                </div>
                <div class="tags">
                    <ul id="tags-list">
                        @foreach (var tag in Model.Tags!)
                        {
                            <li id="tags-item">@tag</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="buttons">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
